<main class="board">
  <div class="lists"></div>

  <form class="add-list list-wrapper" action="#" method="post">
    <span class="placeholder">Add a list…</span>
    <div class="add-input">
      <input type="text" name="name" placeholder="Add a list…">

      <input class="submit-button" type="submit" value="Save">
      <a class="icon-cross" href="#"></a>
    </div>
  </form>
</main>

