
  <div class="list-cards">
  </div>
  <div class="cc-controls-section">
    <textarea class="new-card-title"></textarea>
    <input class="submit-button" type="submit" value="Add">
    <a class="icon-cross" href="#"></a>
  </div>

  <a class="open-card-composer" href="#">Add a card…</a>