<textarea class="list-title">{{title}}</textarea>
{{!-- <div class="list-cards">
  <div class="list-card" data-id="2">
    <span class="card-title">card2</span>
    <span class="edit-card"></span>
  </div>
</div> --}}
