include _mixins

doctype html
html
  head
    title= title
    meta(charset="utf-8")
    +stylesheet_link_tag('style')
    +script_include_tag('vendor/all')
    +script_include_tag('handlebar_templates')
  body
    header
      a(href='/')
        img(src="/images/header-logo.png")
    block content

    +script_include_tag('app')
    +script_include_tag('models/list', 'models/card')
    +script_include_tag('collections/lists', 'collections/cards')
    +script_include_tag('views/board', 'views/newList', 'views/lists', 'views/list', 'views/cards', 'views/card', 'views/modal', 'views/topBar', 'views/notifications')
    +script_include_tag('routers/router')
    script(type="text/javascript").
      App.init(!{JSON.stringify(lists)},!{JSON.stringify(cards)});
